@import "../../app.scss";

.about {
  background: linear-gradient(180deg, #13133a, #0c0c1d);

  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mobile {
    height: 120vh;
  }

  .content {
    text-align: center;
    max-width: min(80%, 1366px);
    color: white;
    @include mobile {
      margin-top: -100px;
    }

    h1 {
      margin-bottom: 20px;
      font-size: 36px;

      @include mobile {
        margin-bottom: 5px;
        font-size: 24px;
      }
    }

    p {
      margin-bottom: 30px;
      text-align: center;
      @include mobile {
        font-size: 16px;
      }
    }

    .technologies {
      margin-top: 40px;
      justify-content: center;
      text-align: center;
      @include mobile {
        font-size: 20px;
        margin-top: 40px;
      }
      .groups {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        @include mobile {
          display: grid;
          flex-wrap: nowrap;
          justify-content: center;
          gap: 10px;
        }

        .category {
          display: flex;
          width: 350px;
          align-items: center;
          justify-content: center;
          align-items: flex-start;
          padding: 15px;
          margin-bottom: 10px;
          background-color: rgba(105, 105, 105, 0.2);
          border-radius: 20px;
          border: 1px solid #929292;

          @include tablet {
            width: 300px;
            padding: 10px;
          }

          @include mobile {
            padding: 0px;
            margin-bottom: 5px;
            background-color: rgba(105, 105, 105, 0);
            border-radius: 0px;
            border: none;
            width: 375px;
          }

          .category-name {
            position: sticky;
            margin-top: 5px;
            margin-bottom: 5px;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            align-self: flex-start;
            width: 100%;

            @include mobile {
              width: auto;
              font-size: 18px;
              margin-top: 0px;
              margin-bottom: 0px;
              font-weight: normal;
            }
          }

          h2 {
            font-size: 18px;
            margin-bottom: 10px;
          }

          .tech-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 4px;

            @include mobile {
              gap: 2px;
            }
          }

          .tech-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8px;
            background-color: rgba(105, 105, 105, 0);
            border-radius: 10px;
            border: 1px solid #929292;
            margin-bottom: 5px;
            margin-left: 5px;
            @include mobile {
              padding: 5px;
              margin-bottom: 2px;
              background-color: rgba(255, 255, 255, 0.1);
            }

            .tech-logo {
              width: 25px;
              height: 25px;
              @include mobile {
                width: 15px;
                height: 15px;
              }
            }

            .tech-name {
              margin-left: 4px;
              font-size: 16px;
              @include mobile {
                margin-left: 4px;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
  .slidingTextContainer {
    position: absolute;
    opacity: 0.8;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    rotate: -25deg;
    font-weight: bold;
    user-select: none;
    @include mobile {
      opacity: 1;
    }

    .top {
      font-size: 20vh;
      margin-left: 500px;
      bottom: 0px;
    }
    .bottom {
      font-size: 50vh;
      bottom: 100px;
    }
  }
}
