@import "../../app.scss";

.home {
  height: calc(100vh - 100px);
  background: linear-gradient(180deg, #0c0c1d, #13133a);
  overflow: hidden;
  position: relative;

  .wrapper {
    max-width: min(80%, 1366px);
    height: 100%;
    margin: auto;

    .textContainer {
      position: absolute;
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      z-index: 1;

      @include mobile {
        position: relative;
        max-width: 100%;
        height: 80%;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      h2 {
        font-size: 30px;
        color: rebeccapurple;
        letter-spacing: 10px;
        @include mobile {
          font-size: 36px;
        }
      }

      h1 {
        font-size: 50px;
        @include mobile {
          font-size: 36px;
        }
      }
    }
    .buttons {
      button {
        padding: 20px;
        border: 1px solid white;
        border-radius: 10px;
        background-color: transparent;
        color: white;
        margin-right: 20px;
        cursor: pointer;
        font-weight: 300;
      }

      .secondary {
        background-color: white;
        color: #13133a;
        font-weight: bold;
        cursor: pointer;
      }
    }

    img {
      width: 50px;
    }
  }
  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -80px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
    user-select: none;
  }
}

.container {
  position: relative;
  width: 24px;
  height: 24px;
  margin-left: min(19%, 115px);

  @include mobile {
    margin-left: 0px;
    justify-content: center;
  }
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}
