@import "../../app.scss";

.recaptcha-container {
  @include mobile {
    transform: scale(0.65);
    transform-origin: left;
  }
}
.contact {
  height: 100%;
  overflow: hidden;
  background: linear-gradient(180deg, #13133a, #0c0c1d);
  @include mobile {
    height: 120vh;
  }

  .content {
    margin: auto;
    display: flex;
    align-items: center;
    height: 100vh;
    max-width: min(80%, 1366px);
    gap: 50px;

    @include mobile {
      width: 100%;
      padding: 10px;
      flex-direction: column;
    }

    .social {
      margin-top: 15px;
      margin-left: 15px;
      display: flex;
      gap: 25px;

      img {
        width: 25px;
        height: 25px;
      }
    }

    .textContainer {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin-top: 45px;

      @include mobile {
        gap: 10px;
        text-align: center;
        align-items: center;
      }

      h1 {
        font-size: 100px;
        line-height: 88px;

        @include mobile {
          font-size: 36px;
        }
      }

      span {
        font-weight: 300;
      }
    }

    .formContainer {
      flex: 1;
      margin-top: 70px;
      align-items: center;
      position: relative;

      @include mobile {
        margin-top: -50px;
        padding: 50px;
        width: 100%;
      }

      .phoneSvg {
        stroke: #ffa500;
        position: absolute;
        margin-top: 40px;
        animation: zindexChange 5s forwards;

        @include mobile {
          svg {
            margin-top: 0lvb;
            width: 300px;
            height: 500px;
          }
        }
      }

      @keyframes zindexChange {
        0% {
          z-index: 10;
        }
        100% {
          z-index: -1;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        gap: 20px;

        input,
        textarea {
          padding: 20px;
          background-color: transparent;
          border: 1px solid white;
          color: white;
          border-radius: 5px;

          @include mobile {
            padding: 10px;
          }
        }

        .error {
          background-color: #ff6060;
          padding: 30px;
          border-radius: 25px;
          text-align: center;
          font-size: 20px;
          color: #0c0c1d;
          animation: fadeIn 1s;
          position: fixed;
          right: 1%;
          bottom: 1%;
          z-index: 1000;

          @include mobile {
            font-size: 13px;
            padding: 15px;
          }
        }

        .success {
          background-color: #5bfb4a;
          padding: 30px;
          border-radius: 25px;
          text-align: center;
          font-size: 20px;
          color: #0c0c1d;
          animation: fadeIn 1s;
          position: fixed;
          right: 1%;
          bottom: 1%;
          z-index: 1000;

          @include mobile {
            font-size: 13px;
            padding: 15px;
          }
        }

        button {
          padding: 20px;
          border: none;
          color: #0c0c1d;
          background-color: orange;
          cursor: pointer;
          font-weight: 550;

          @include mobile {
            padding: 10px;
          }
        }
      }
    }
  }
}
