@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #0c0c1d;
  color: lightgrey;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

section {
  height: 100vh;
  scroll-snap-align: center;

  @include mobile {
    &#Contact {
      height: auto;
      margin-bottom: 50px;
      scroll-snap-align: center;
    }
  }
}
